In [171]:
import pandas as pd
import datetime
from datetime import timedelta

In [172]:
ferrero_corp_spikes = pd.read_csv('data/spikes/ferrero_corp_spikes.csv')
ferrero_corp_auth_spikes = pd.read_csv('data/spikes/ferrero_corp_auth_spikes.csv')
ferrero_corp_merged = pd.read_csv('data/spikes/ferrero_corp_merged.csv')

In [173]:
ferrero_corp_spikes['date_index'] = pd.to_datetime(ferrero_corp_spikes['date_index'])
ferrero_corp_spikes

                   date_index     mIndex  volume  sentiment   sign
0   2019-08-20 00:00:00+00:00   2.602240      96   0.373657  False
1   2019-08-21 00:00:00+00:00  13.554951     378   0.373657  False
2   2019-08-22 00:00:00+00:00   5.825910     179   0.373657  False
3   2019-08-23 00:00:00+00:00   2.485722      93   0.373657  False
4   2019-08-24 00:00:00+00:00   1.006199      71   0.373657  False
..                        ...        ...     ...        ...    ...
160 2021-08-19 00:00:00+00:00   0.774941      36   0.524922   True
161 2021-08-20 00:00:00+00:00   0.858849      38   0.493919  False
162 2021-08-23 00:00:00+00:00   2.040529      67   0.468272  False
163 2021-08-24 00:00:00+00:00   1.287879      49   0.360722  False
164 2021-08-25 00:00:00+00:00   0.679956      41   0.437569  False

[165 rows x 5 columns]

In [174]:
ferrero_corp_auth_spikes

                    date_index  mIndex  volume  sentiment   sign
0    2019-08-20 00:00:00+00:00     NaN       0        NaN  False
1    2019-08-21 00:00:00+00:00     inf       1    0.39399  False
2    2019-08-22 00:00:00+00:00     inf       1    0.39399  False
3    2019-08-23 00:00:00+00:00     inf       1    0.39399  False
4    2019-08-24 00:00:00+00:00     NaN       0        NaN  False
..                         ...     ...     ...        ...    ...
160  2021-08-19 00:00:00+00:00     NaN       0        NaN  False
161  2021-08-20 00:00:00+00:00     NaN       0        NaN  False
162  2021-08-23 00:00:00+00:00     NaN       0        NaN  False
163  2021-08-24 00:00:00+00:00     NaN       0        NaN  False
164  2021-08-25 00:00:00+00:00     NaN       0        NaN  False

[165 rows x 5 columns]

In [175]:
ferrero_corp_merged

,date_index,mIndex_x,volume_x,sentiment_x,sign_x,mIndex_y,volume_y,sentiment_y,sign_y
0,2019-08-01 00:00:00+00:00,NaN,21,0.373657,False,NaN,NaN,NaN,NaN
1,2019-08-02 00:00:00+00:00,NaN,40,0.373657,False,NaN,1.0,0.39399,False
2,2019-08-03 00:00:00+00:00,NaN,53,0.373657,False,NaN,0.0,NaN,False
3,2019-08-04 00:00:00+00:00,NaN,31,0.373657,False,NaN,0.0,NaN,False
4,2019-08-05 00:00:00+00:00,NaN,31,0.373657,False,NaN,0.0,NaN,False
...,...,...,...,...,...,...,...,...,...
753,2021-08-23 00:00:00+00:00,2.040529,67,0.468272,False,NaN,0.0,NaN,False
754,2021-08-24 00:00:00+00:00,1.287879,49,0.360722,False,NaN,0.0,NaN,False
755,2021-08-25 00:00:00+00:00,0.679956,41,0.437569,False,NaN,0.0,NaN,False
756,2021-08-26 00:00:00+00:00,0.429460,39,0.406829,False,inf,1.0,0.00000,False
757,2021-08-27 00:00:00+00:00,-0.171611,24,0.298725,False,NaN,NaN,NaN,NaN

In [176]:
ferrero_corp_merged['date_index'] = pd.to_datetime(ferrero_corp_merged['date_index'])
ferrero_corp_merged['date_index']

0     2019-08-01 00:00:00+00:00
1     2019-08-02 00:00:00+00:00
2     2019-08-03 00:00:00+00:00
3     2019-08-04 00:00:00+00:00
4     2019-08-05 00:00:00+00:00
                 ...
753   2021-08-23 00:00:00+00:00
754   2021-08-24 00:00:00+00:00
755   2021-08-25 00:00:00+00:00
756   2021-08-26 00:00:00+00:00
757   2021-08-27 00:00:00+00:00
Name: date_index, Length: 758, dtype: datetime64[ns, UTC]

In [177]:
def get_days(df, thresh):
    return df[df['mIndex'] > thresh][['mIndex', 'sign']]


# Same as get_days, but on the left or right side of the merged dataset
def get_days_left(df, thresh):
    df_copy = df.copy()
    return df_copy[df_copy['mIndex_x'] > thresh][['mIndex_x', 'sign_x']]


def get_days_right(df, thresh):
    return df[df['mIndex_y'] > thresh][['mIndex_y', 'sign_y']]


def get_date_range(date, d_range):
    date_list = []
    date_list.append(date)
    for day in range(1, d_range+1):
        b_date = (date - datetime.timedelta(days = day))
        a_date = (date + datetime.timedelta(days = day))
        date_list.append(b_date)
        date_list.append(a_date)
        date_list.sort()
    return date_list


def get_dates_until(date, d_range):
    date_list = []
    for day in range(1, d_range+1):
        b_date = (date - datetime.timedelta(days = day))
        date_list.append(b_date)
        date_list.sort()
    return date_list

# def get_volumes_in_range(df, days_range):
#     spikes = get_days_left(iris_join, 0.5)
#     days_range = timedelta(days=days_range)
#     for date in spikes['date_index']:

def get_data_between(dataset, mindate, maxdate):
    lowerbound = dataset[dataset.date_index > mindate]    
    return lowerbound[lowerbound.date_index < maxdate]

In [178]:
date = pd.to_datetime('2019-12-7 00:00:00+00:00')
date_range = get_dates_until(date, 7)
date_range_idx = pd.to_datetime(date_range, utc=True)
date_range_idx = pd.DataFrame(date_range_idx, columns=['date'])
date_range_idx

                       date
0 2019-11-30 00:00:00+00:00
1 2019-12-01 00:00:00+00:00
2 2019-12-02 00:00:00+00:00
3 2019-12-03 00:00:00+00:00
4 2019-12-04 00:00:00+00:00
5 2019-12-05 00:00:00+00:00
6 2019-12-06 00:00:00+00:00

In [191]:
merged_df = get_data_between(ferrero_corp_merged, '2019-11-29', '2019-12-7')

In [192]:
merged_df

,date_index,mIndex_x,volume_x,sentiment_x,sign_x,mIndex_y,volume_y,sentiment_y,sign_y
121,2019-11-30 00:00:00+00:00,1.537547,149,0.373657,False,inf,2.0,0.39399,False
122,2019-12-01 00:00:00+00:00,0.130970,72,0.373657,False,3.318031,2.0,0.39399,False
123,2019-12-02 00:00:00+00:00,0.719843,109,0.373657,False,NaN,0.0,NaN,False
124,2019-12-03 00:00:00+00:00,0.248458,83,0.373657,False,0.000000,1.0,0.39399,False
125,2019-12-04 00:00:00+00:00,-0.115947,61,0.373657,False,0.000000,1.0,0.39399,False
126,2019-12-05 00:00:00+00:00,1.109779,135,0.373657,False,0.000000,1.0,0.39399,False
127,2019-12-06 00:00:00+00:00,30.556067,1969,0.373657,False,5.530052,6.0,0.39399,False

In [194]:
get_days_left(merged_df, 0.5)

    mIndex_x  sign_x
5   2.602240   False
6  13.554951   False

In [182]:
merged_df

,date_index,mIndex_x,volume_x,sentiment_x,sign_x,mIndex_y,volume_y,sentiment_y,sign_y,date
0,2019-11-30 00:00:00+00:00,1.537547,149,0.373657,False,inf,2.0,0.39399,False,2019-11-30 00:00:00+00:00
1,2019-12-01 00:00:00+00:00,0.130970,72,0.373657,False,3.318031,2.0,0.39399,False,2019-12-01 00:00:00+00:00
2,2019-12-02 00:00:00+00:00,0.719843,109,0.373657,False,NaN,0.0,NaN,False,2019-12-02 00:00:00+00:00
3,2019-12-03 00:00:00+00:00,0.248458,83,0.373657,False,0.000000,1.0,0.39399,False,2019-12-03 00:00:00+00:00
4,2019-12-04 00:00:00+00:00,-0.115947,61,0.373657,False,0.000000,1.0,0.39399,False,2019-12-04 00:00:00+00:00
5,2019-12-05 00:00:00+00:00,1.109779,135,0.373657,False,0.000000,1.0,0.39399,False,2019-12-05 00:00:00+00:00
6,2019-12-06 00:00:00+00:00,30.556067,1969,0.373657,False,5.530052,6.0,0.39399,False,2019-12-06 00:00:00+00:00

In [183]:
ferrero_corp_auth = pd.read_csv('data/authority_filtered/ferrero_corp_auth.csv')
ferrero_corp_auth['date_index'] = pd.to_datetime(ferrero_corp_spikes['date_index'])
ferrero_corp_auth

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
0,34648,twitter,1174618145786650624,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,La Ferrero riconosce a 6000 dipendenti un prem...,https://t.co/T3wBQLWAeo,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-20 00:00:00+00:00
1,34065,twitter,1176441842096910336,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Il Ministro Fioramonti si permette di giustifi...,NaN,@lofioramonti,NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-08-21 00:00:00+00:00
2,33847,twitter,1176748033066844160,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@theoddmother @lofioramonti In Italia la Ferre...,NaN,"@theoddmother, @lofioramonti",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-08-22 00:00:00+00:00
3,32534,twitter,1183821988437135362,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,@gianni_la_marca @angelofilippi Per il mercato...,NaN,"@gianni_la_marca, @angelofilippi",NaN,...,41.898417,12.545146,41.898417,12.545146,NaN,NaN,NaN,NaN,NaN,2019-08-23 00:00:00+00:00
4,32064,twitter,1186949229438263297,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Siamo in un pericoloso paradosso con il Paese ...,https://t.co/lkkYO9w8VC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-24 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1013,twitter,1418810115445166080,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Ferrero, la strategia green del big di Alba (è...","https://t.co/r2XvO05KdN, https://t.co/t8k8vmUlQk",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
279,841,twitter,1420717382830415880,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Ferrero l'azienda meglio percepita sul territo...,"https://t.co/4O4c31bPiq, https://t.co/n8RpxZP5Vu",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
280,822,twitter,1421105542945202182,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"L’attimo fuggente, online il numero di agosto ...",https://t.co/Q9FPElZrOU,"@ferrero_eu, @generali, @prada, @armani, @ciro...","#luigicremonini, #vincenzocremonini, #alberton...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
281,467,twitter,1426075939201421313,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"Mediobanca, Gavio arrotonda la quota. I Ferrer...","https://t.co/QPX7deAYBt, https://t.co/XUfJMFKsFE",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
282,61,twitter,1430765728890859524,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,Da anni le aziende alimentari prendono impegni...,"https://t.co/79pL8eW8Dm, https://t.co/3MC4xgol6A",@foodwatch_de,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [189]:
auth_tweets = ferrero_corp_auth.merge(pd.DataFrame(merged_df), left_on='date_index', right_on='date_index')
auth_tweets

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,date_index,mIndex_x,volume_x,sentiment_x,sign_x,mIndex_y,volume_y,sentiment_y,sign_y,date
0,13686,twitter,1312082692956196867,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"++ ANCHE LA SENATRICE ROBERTA FERRERO, SABATO ...","https://t.co/AgN5yMbQDQ, https://t.co/3gPHsOAy57",NaN,#catania,...,2019-11-30 00:00:00+00:00,1.537547,149,0.373657,False,inf,2.0,0.39399,False,2019-11-30 00:00:00+00:00
1,13543,twitter,1313152228828631040,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? PD E M5S PENSANO SOLO A FARE LE LORO MARCHET...,https://t.co/KVubXsSIEN,NaN,#ferrero,...,2019-12-02 00:00:00+00:00,0.719843,109,0.373657,False,NaN,0.0,NaN,False,2019-12-02 00:00:00+00:00
2,13074,twitter,1316394843015385089,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? Il governo Conte deve capire che non si ridu...,https://t.co/xxEaVCB2Q6,NaN,NaN,...,2019-12-05 00:00:00+00:00,1.109779,135,0.373657,False,0.000000,1.0,0.39399,False,2019-12-05 00:00:00+00:00
3,10648,twitter,1338859112075935746,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? Conte ascolti la #Lega: occorre un taglio dr...,https://t.co/LM9QbEPbqt,NaN,#lega,...,2019-12-06 00:00:00+00:00,30.556067,1969,0.373657,False,5.530052,6.0,0.39399,False,2019-12-06 00:00:00+00:00

In [187]:
auth_tweets.to_csv('data/authority_filtered/auth_tweets.csv')
auth_tweets[['text', 'user_name','date_index', 'mIndex_x']].to_csv('data/authority_filtered/auth_tweets_text.csv')

In [190]:
get_data_between(ferrero_corp_auth, '2019-11-29', '2019-12-7')

,Unnamed: 0,social,id,topic_id,rule_id,is_comment,text,links,mentions,hashtags,...,place_location_lat,place_location_lon,place_lat,place_lon,user_place_country_code,score_spam,score_performance,user_score_rank,score_rating,date_index
24,13686,twitter,1312082692956196867,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,"++ ANCHE LA SENATRICE ROBERTA FERRERO, SABATO ...","https://t.co/AgN5yMbQDQ, https://t.co/3gPHsOAy57",NaN,#catania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-30 00:00:00+00:00
25,13543,twitter,1313152228828631040,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? PD E M5S PENSANO SOLO A FARE LE LORO MARCHET...,https://t.co/KVubXsSIEN,NaN,#ferrero,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-02 00:00:00+00:00
26,13074,twitter,1316394843015385089,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? Il governo Conte deve capire che non si ridu...,https://t.co/xxEaVCB2Q6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-05 00:00:00+00:00
27,10648,twitter,1338859112075935746,7ee62d5c-5811-45ce-9cef-c09d143f041a,12559.0,False,? Conte ascolti la #Lega: occorre un taglio dr...,https://t.co/LM9QbEPbqt,NaN,#lega,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-06 00:00:00+00:00